In [ ]:
import pandas as pd
import matplotlib.pyplot as pt
import functools
import os

DATA_DIR = "D:\\Netology\\Python\\works\\4.1\\names\\"

Данные для пунктов 1, 2. На вход - список имен, шаг лет.
1. количество имен Ruth и Robert с 1900 по 2000
2. количество имен с 1900 по 2000 с 5-летними промежутками (1900, 1905, 1910, …, 1995, 2000)

In [60]:
def name_dynamic(names, step):
    file_list = [{'file': f'{DATA_DIR}yob{str(year)}.txt', 'year': year} for year in range(1900, 2001, step)]
    list_ = []
    for file in file_list:
        if not os.path.exists(file['file']):
            continue
        data = pd.read_csv(file['file'], names=['Name', 'Gender', 'Count'])
        data = data[data['Name'].isin(names)]
        data['Year'] = file['year']
        list_.append(data)
    all_stat = pd.concat(list_).sort_values(by='Year', ascending=True).groupby(['Name','Year']).sum().reset_index()
    return all_stat


d_frame1 = name_dynamic(['Ruth', 'Robert'], 1)
d_frame2 = name_dynamic(['Ruth', 'Robert'], 5)
d_frame1
d_frame2

      Name  Year  Count
0   Robert  1900   3845
1   Robert  1905   3431
2   Robert  1910   5638
3   Robert  1915  28854
4   Robert  1920  48883
5   Robert  1925  61246
6   Robert  1930  62572
7   Robert  1935  56755
8   Robert  1940  61401
9   Robert  1945  70132
10  Robert  1950  83768
11  Robert  1955  83953
12  Robert  1960  72640
13  Robert  1965  63389
14  Robert  1970  57529
15  Robert  1975  35579
16  Robert  1980  34535
17  Robert  1985  32326
18  Robert  1990  28980
19  Robert  1995  18627
20  Robert  2000  13760
21    Ruth  1900   4781
22    Ruth  1905   5088
23    Ruth  1910   7247
24    Ruth  1915  21924
25    Ruth  1920  26155
26    Ruth  1925  22325
27    Ruth  1930  15010
28    Ruth  1935  10041
29    Ruth  1940   8922
30    Ruth  1945   8063
31    Ruth  1950   7138
32    Ruth  1955   6200
33    Ruth  1960   4960
34    Ruth  1965   3242
35    Ruth  1970   1828
36    Ruth  1975   1235
37    Ruth  1980   1262
38    Ruth  1985   1125
39    Ruth  1990    913
40    Ruth  1995    858
41    Ruth  2000    903

Данные для пункта 3: 
3. количество употреблений для ТОП-10 популярных имен, начинающихся на R, за 1950 год

In [61]:
def top_letter(letter, year):
    file = f'{DATA_DIR}yob{year}.txt'
    if not os.path.exists(file):
        return
    data = pd.read_csv(file, names=['Name', 'Gender', 'Count'])
    data = data[data.Name.str.startswith(letter)].sort_values(by='Count', ascending=False).head(10)
    return data


d_frame3 = top_letter('R', 1950)
d_frame3

         Name Gender  Count
6112   Robert      M  83565
6117  Richard      M  51001
6122   Ronald      M  29916
6137    Roger      M  12548
6141  Raymond      M  11179
35    Rebecca      F   9427
48       Ruth      F   7128
6161      Roy      M   6456
55       Rita      F   6424
6162    Ralph      M   6404

Данные для пункта 4: 
4. Возвращает датасет имя, количество, количество согласных в имени

In [ ]:
def is_consonant(sum, letter):
    cont = ['b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'y', 'z']
    if letter.lower() in cont:
        sum = sum + 1
    return sum


def count_consonant(word):
    count = functools.reduce(is_consonant, word, 0)
    return count


def stat_consonant(step):
    file_list = [{'file': f'{DATA_DIR}yob{str(year)}.txt', 'year': year} for year in range(1900, 2001, step)]
    list_ = []
    for file in file_list:
        if not os.path.exists(file['file']):
            continue
        data = pd.read_csv(file['file'], names=['Name', 'Gender', 'Count'])
        data['Const'] = data.apply(lambda row: count_consonant(row.Name), axis=1)
        list_.append(data)
    all_stat = pd.concat(list_).groupby(['Name']).sum().reset_index()
    return all_stat


d_frame4 = stat_consonant(1)
d_frame4

Собственно, сами графики:

In [ ]:
%matplotlib inline